<!-- Calendly badge widget begin -->
<link
  href="https://assets.calendly.com/assets/external/widget.css"
  rel="stylesheet"
/>
<script
  src="https://assets.calendly.com/assets/external/widget.js"
  type="text/javascript"
  async
></script>
<script type="text/javascript">
  window.onload = function () {
    Calendly.initBadgeWidget({
      url: "https://calendly.com/emily-u8ex/osoberry-school-info-session?background_color=c1ff72&primary_color=234b1e",
      text: "Attend an Info Session",
      color: "#234b1e",
      textColor: "#ffffff",
    });
  };
</script>
<!-- Calendly badge widget end -->
