<!DOCTYPE html>
<!-- HTML file pre-processed by 11ty with Liquid -->
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Osoberry School: {{ title }}</title>
    <meta name="description" content="{{ description }}" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/assets/theme.css" />
    <!-- Favicons -->
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/assets/img/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/assets/img/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/assets/img/favicon-16x16.png"
    />
    <link rel="manifest" href="/assets/img/site.webmanifest" />
    <link
      rel="mask-icon"
      href="/assets/img/safari-pinned-tab.svg"
      color="#5bbad5"
    />
    <link rel="shortcut icon" href="/assets/img/favicon.ico" />
    <meta name="msapplication-TileColor" content="#c1ff72" />
    <meta name="msapplication-config" content="/assets/img/browserconfig.xml" />
    <meta name="theme-color" content="#c1ff72" />

    <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
  </head>
  <!-- Google tag (gtag.js) -->
  <script
    async
    src="https://www.googletagmanager.com/gtag/js?id=G-VP2Z2XDTWF"
  ></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() {
      dataLayer.push(arguments);
    }
    gtag("js", new Date());
    gtag("config", "G-VP2Z2XDTWF");
    // When a nav section is expanded, collapse all other nav sections
    const onNavSectionExpand = (event) => {
      const ul = event.target.parentElement.parentElement;
      ul.querySelectorAll("input").forEach((element) => {
        if (element !== event.target) element.checked = false;
      });
    };
  </script>
  <body>
    <header>
      <div class="contentWrapper">
        <div class="inner">
          <h1 class="home">
            <a href="/"><img src="/assets/img/osoberry_logo_400.png" /></a>
          </h1>
          <button class="menu-icon">
            <label for="expandMenu">
              <img class="menu" src="/assets/img/menu.svg" />
              <img class="close" src="/assets/img/close.svg" />
            </label>
            <input type="checkbox" id="expandMenu" />
          </button>
        </div>
        <nav>
          {% assign navPages = collections.topnav | eleventyNavigation %}
          <ul>
            {%- for level1 in navPages %}
            <li>
              {% if level1.url %}
              <a href="{{ level1.url }}">{{ level1.title }}</a>
              {% else %}
              <label for="{{ level1.title }}-checkbox">
                {{ level1.title }}
              </label>
              <input
                type="checkbox"
                id="{{ level1.title }}-checkbox"
                onchange="onNavSectionExpand(event)"
              />
              <div class="subnav">
                {%- for level2 in level1.children %}
                <a href="{{ level2.url }}">{{ level2.title }}</a>
                {%- endfor %}
              </div>
              {% endif %}
            </li>
            {%- endfor %}
          </ul>
        </nav>
      </div>
    </header>

    <main>{{ content }}</main>
    {% include "components/infoSession.html" %}

    <footer>
      <p>
        Osoberry School, an Oregon nonprofit corporation<br />
        4433 E Burnside St • Portland, OR • (503) 433-2923
      </p>
      <p>
        <a href="https://www.facebook.com/osoberryschool" target="_blank"
          ><img class="socialIcon" src="/assets/img/facebook.svg"
        /></a>
      </p>
      <p>
        <em
          >Osoberry School admits students of any sexual orientation, race,
          color, national and ethnic origin, to all the rights, privileges,
          programs and activities generally accorded or made available to
          students at the school. It does not discriminate on the basis of race,
          color, or national and ethnic origin in the administration of its
          educational policies, admissions policies, financial aid programs, and
          other school-administered programs.</em
        >
      </p>
      <p>&copy; 2024 Osoberry School; logo &copy; 2024 Otto Souther</p>
    </footer>
    <!-- Redirect to CMS admin on login -->
    <script>
      if (window.netlifyIdentity) {
        window.netlifyIdentity.on("init", (user) => {
          if (!user) {
            window.netlifyIdentity.on("login", () => {
              document.location.href = "/admin/";
            });
          }
        });
      }
    </script>
  </body>
</html>
